<nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">MyFlaskApp</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <!-- <li><a href="/about">About</a></li> -->
            <!-- <li><a href="/articles">Articles</a></li> -->
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if session.logged_in %}
            <li><a href="/view_excel">View Excel</a></li>
            <li><a href="/location">Location</a></li>
            <li><a href="/coba">Accurary</a></li>
            <!-- <li><a href="/hasil">Accurary FALSE</a></li>
            <li><a href="/cek_loc">Cek Location</a></li> -->
              <!-- <li><a href="/dashboard">Dashboard</a></li> -->
            <li><a href="/logout">Logout ({{session.username}})</a></li>
            {% else %}
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Login</a></li>
            {% endif %}

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
